// Inputs

@mixin input() {
  margin: 10px 10px 10px 0;
  width: 300px;
  height: 30px;
  padding-left: 10px;
  border-color: $secondary_color;
  border: 1px solid $secondary_color;
  background-color: $background_color;
  color: $text_color;
}

@mixin input_focus() {
  outline: none !important;
  box-shadow: 0 0 4px $secondary_color;
  border-color: $secondary_color_hover;
}

div.field {
  label {
    display: block;
  }

  input {
    @include input();
  }

  input:focus {
    @include input_focus();
  }
}

// Buttons

@mixin button_default_hover_focus($width, $height) {
  @include button($width, $height);
  @include button_hover();
  @include button_focus();
}

@mixin button($width, $height) {
  background: transparent;
  border: none;
  color: $secondary_color;
  padding: 10px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 4px;
  margin-right: 4px;
  width: $width;
  height: $height;
}

@mixin button_hover() {
  color: $secondary_color_hover;
}

@mixin button_focus() {
  box-shadow: 0 0 4px $secondary_color;
}

@mixin border_button_default_hover_focus($width, $height) {
  @include border_button($width, $height);
  @include border_button_hover();
  @include border_button_focus();
}

@mixin border_button($width, $height) {
  @include button($width, $height);
  border: 1px solid $secondary_color;
  border-radius: $button_radius;
}

@mixin border_button_hover() {
  @include button_hover();
  border: 1px solid $secondary_color_hover;
}

@mixin border_button_focus() {
  @include button_focus();
  border-color: $secondary_color_hover;
}

a {
  text-decoration: none;
  cursor: pointer;

  span {
    color: $text_color;
  }
}

input[type=button] {
  @include button(4rem, 2rem);
}

input[type=button]::hover {
  @include button_hover();
}

button {
  @include button(15rem, 5rem);
}

button:hover {
  @include button_hover();
}

button:focus {
  outline: none;
}

// Posters
@mixin thumbnail_poster() {
  display: block;
  margin: auto;
  height: $poster_height;
  width: $poster_width;
}

// label
@mixin info_label($font_size) {
  font-size: $font_size;
  color: $tertiary_text_color;
  border: $label_border_size solid $tertiary_color;
  border-radius: $label_border_radius;
  padding: $label_border_padding;
}
