// Global Menu
$back_key_width: 100px;
$menu_margin_bottom: 50px;
$menu_element_margin_right: 10px;
$menu_element_width: 75px;
$menu_element_padding: 25px;
$menu_element_hover_bottom_line_height: 1px;

// Controller

$control_buttons_margin_top: 100px;
$control_elements_margin_bottom: 10px;

// Configuration

// Posters

$poster_width: 150px;
$poster_height: 200px;

$button_radius: 5px;
