// Global Menu
$back_key_width: 100px;
$menu_margin_bottom: 50px;
$menu_element_margin_right: 10px;
$menu_element_width: 75px;
$menu_element_padding: 25px;
$menu_element_hover_bottom_line_height: 1px;

// Controller

$control_buttons_margin_top: 100px;
$control_elements_margin_bottom: 10px;

// Configuration

// Posters

$poster_width: 150px;
$poster_height: 200px;

$button_radius: 5px;

// label
$label_border_size: 1px;
$label_border_radius: 3px;
$label_border_padding: 5px;

// Player video detail
$player_container_common_margin_bottom: 10px;
$player_info_line_height: 25px;
$player_info_margin_left: 15px;
$player_info_padding_top: 30px;
$player_info_width: 80%;
$detail_container_padding: 20px;
$detail_container_width: 80%;
