$background_color: #424242;
$secondary_color: #F44336;
$secondary_color_hover: #EF9A9A;
$tertiary_color: #BDBDBD;

$text_color: #FAFAFA;
$secondary_text_color: #E0E0E0;
$tertiary_text_color: #BDBDBD;
$disabled_text: #9E9E9E;

$font: normal 1rem Helvetica, Roboto, Calibri, Arial, sans-serif;

@import "_measures";
@import "_components";
@import "_icons";
@import "_volume_bar";
@import "_seek_bar";
@import "_posters_list";

body {
  background-color: $background_color;
  color: $text_color;
  font: $font;
}

div.container {
  position: absolute;
  bottom: 0;
  top: 100px;
  width: 100%;

  > div.center_content {
    transform: translateY(25%);
  }
}

// Menu

div.main_menu {
  text-align: right;
  position: absolute;
  width: 100%;

  a.view, button.back {
    text-decoration: none;
    margin-right: $menu_element_margin_right;
    width: $back_key_width;

    &:hover, &:focus {
      outline: none;
    }

    span {
      display: inline-block;
      text-align: center;
      padding: $menu_element_padding;
      width: $menu_element_width;
      color: $text_color;
    }

    span:hover {
      border-bottom: $menu_element_hover_bottom_line_height solid $secondary_color;
    }

    &.disabled > span {
      color: $disabled_text;
      cursor: default;
    }
  }
}

// Home

div#content {
  div.title {
    text-align: center;
  }

  div.configuration {
    width: 60%;
    margin: auto;
    text-align: center;
  }

  div.action {
    width: 100%;
    text-align: center;
    margin-top: 10px;

    & > a.connect {
      @include button(7rem, 2rem);
      text-decoration: none;
      align-self: baseline;
      position: absolute;
    }

    & > a.connect:hover {
      @include button_hover();
    }
  }
}

// Player
div.player {
  width: 100%;

  div {
    margin-bottom: $player_container_common_margin_bottom;
  }

  div.seek_bar {
    display: block;
    width: 60%;
    margin: auto;

    div.timer {
      display: inline-block;
      width: 10%;

      & > span {
        display: block;
        text-align: right;
      }
    }

    div.rc-slider {
      display: inline-block;
      width: 90%;
    }
  }

  div.actions {
    text-align: center;
  }

  div#detail {
    padding: $detail_container_padding;
    width: $detail_container_width;
    margin: auto;

    div.poster {
      display: inline-block;

      img.poster {
        @include thumbnail_poster();
      }
    }

    div.info {
      line-height: $player_info_line_height;
      margin-left: $player_info_margin_left;
      padding-top: $player_info_padding_top;
      display: inline-block;
      width: $player_info_width;

      div.title > span.title {
        font-size: -webkit-xxx-large;
      }

      div.episode {
        color: $secondary_text_color;
      }

      div.season {
        border-bottom: 1px solid $tertiary_color;
        padding-bottom: 10px;

        span.season {
          @include info_label(small);
        }
      }
    }
  }
}

// Controller
div.controllers {
  // TODO: this p will be removed eventually
  p {
    color: $disabled_text;
    font: small-caption;
    text-align: center;
  }

  div.control_buttons {
    width: 100%;
    margin-top: $control_buttons_margin_top;

    div.input, div.actions {
      width: 100%;
      text-align: center;
      margin-bottom: $control_elements_margin_bottom;

      &>div.row {
        margin-bottom: $control_elements_margin_bottom;
      }
    }

    & div.row > button {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20%;
      vertical-align: middle;
    }
  }
}

// Movies
@include posters_list('movies', 'movie', 'movie');

// Tv shows
@include posters_list('tvshows', 'tvshow', 'seasons');

@include posters_list('seasons', 'season', 'episodes');

div.episodes {
  div.episode {
    margin-bottom: 10px;
    display: flex;

    @import '_video_info';
  }
}
