$background_color: #424242;
$secondary_color: #F44336;
$secondary_color_hover: #EF9A9A;
$tertiary_color: #BDBDBD;

$text_color: #FAFAFA;
$disabled_text: #9E9E9E;

$font: normal 1rem Helvetica, Roboto, Calibri, Arial, sans-serif;

@import './fontawesome/font-awesome';
@import "_measures";
@import "_components";
@import "_volume_bar";
@import "_seek_bar";
@import "_posters_list";

body {
  background-color: $background_color;
  color: $text_color;
  font: $font;
}

// Menu

div.main_menu {
  text-align: right;
  margin-bottom: $menu_margin_bottom;

  a.view, button.back {
    text-decoration: none;
    margin-right: $menu_element_margin_right;
    width: $back_key_width;

    &:hover, &:focus {
      outline: none;
    }

    span {
      display: inline-block;
      text-align: center;
      padding: $menu_element_padding;
      width: $menu_element_width;
      color: $text_color;
    }

    span:hover {
      border-bottom: $menu_element_hover_bottom_line_height solid $secondary_color;
    }

    &.disabled > span {
      color: $disabled_text;
      cursor: default;
    }
  }
}

// Home

div.container {
  div.title {
    text-align: center;
  }

  div.configuration {
    width: 100%;
  }

  div.action {
    width: 100%;
    text-align: center;
    margin-top: 10px;

    & > a.connect {
      @include button(7rem, 2rem);
      text-decoration: none;
      align-self: baseline;
      position: absolute;
    }

    & > a.connect:hover {
      @include button_hover();
    }
  }
}

// Player
div.player {
  div.seek_bar {
    div.timer > span {
      display: block;
      text-align: right;
    }
  }
}

// Controller
div.controllers {
  p {
    color: $disabled_text;
    font: small-caption;
    text-align: center;
  }

  div.control_buttons {
    width: 100%;
    position: absolute;
    margin-top: $control_buttons_margin_top;

    div.input, div.actions {
      width: 100%;
      text-align: center;
      margin-bottom: $control_elements_margin_bottom;

      &>div.row {
        margin-bottom: $control_elements_margin_bottom;
      }
    }

    & div.row > button {
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20%;
      vertical-align: middle;
    }
  }
}

// Movies
@include posters_list('movies', 'movie', 'movie');

// Tv shows
div.tvshows {
  display: flex;
  flex-flow: row wrap;

  div.tvshow {
    width: 25%;
    text-align: center;
    margin-bottom: 20px;

    a.seasons > span.title {
      display: block;
      margin-top: 10px;
    }

    img.thumbnail {
      @include thumbnail_poster();
    }
  }
}

@include posters_list('seasons', 'season', 'episodes');

div.episodes {
  div.episode {
    margin-bottom: 10px;
    display: flex;

    @import '_video_info';
  }
}
